<a href="https://colab.research.google.com/github/Lat-Dom/CCINCOML_EXCERCISE_COM23P/blob/main/Lim_exercise6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 6

## Lists

1. Create a list

- The name of the new list should be  `month`

- The list should contain all the months in a year (January, February, March, April, May, June, July, August, September, October, November, December)

In [21]:
# put your answer here

monthList = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

2. Display an element

- Display the fourth element 'April' in the `month` list

In [22]:
# put your answer here
print("4th element in monthList is " + monthList[3])

4th element in monthList is April

3. Slice the list

- Use slicing to get the last 4 months of the year of (September, October, November, December) of the `month` list

In [23]:
# put your answer here
print(monthList[8:12])

['September', 'October', 'November', 'December']

- Use slicing to get the first 4 months of the year (January, February, March, April) of the `month` list

In [24]:
# put your answer here
print(monthList[0:4])

['January', 'February', 'March', 'April']

4. List Methods

- Get the size of the month list using the `len()` method

In [25]:
# put your answer here
print(len(monthList))

12

- Get the element with the largest value of the month list using `max()`

In [26]:
# put your answer here
print(max(monthList))

September

- Get the element with the smallest value of the month list using `min()`

In [27]:
# put your answer here
print(min(monthList))

April

- Sort the months of the year by alphabetical order using the `sorted()` function

In [28]:
# put your answer here
print(sorted(monthList))

['April', 'August', 'December', 'February', 'January', 'July', 'June', 'March', 'May', 'November', 'October', 'September']

## Tuple

1. Create a tuple with only three elements, the elements are:

- Your month of birth in integers
- Your day of birth in integers
- Your year of birth in integers

Use tuple unpacking to directly assign the month, day, year variable to each elements in your tuple.

In [29]:
# put your answer here
birthCred = (10, 21, 2003)
(Month, Day, Year) = birthCred

print(Month)
print(Day)
print(Year)

10
21
2003

## Set

1. The list below contains a number of a products of a computer store. Notice that there are duplicate values.

In [30]:
products = {"laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"}

The difference between a list and a set is that a list allows duplicate values. One way to remove duplicates is to convert a list into a set.

Convert the `products` list into a set

In [16]:
# put your answer here
productSet = {"laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"}

2. Verify if "headphones" exists in the `products` set  using the `in` operator

In [17]:
# put your answer here
print("headphones" in productSet)

True

## Dictionaries

1. Create a dictionary of your favorites

- Keys should be the type
- Values should be the sample from that type

Example:

food: friedchicken

color: blue

sport: badminton

drink: mangojuice

dessert: cheesetart

In [31]:
# put your answer here
dictA = {
    'food' : 'Sizzling Tofu',
    'color' : 'Soul Red',
    'sport' : 'Badminton',
    'drink' : 'Asahi Super Dry',
    'dessert' : 'Ice Cream',
    'car' : 'Mazda Mx-5 1990'
}

## Loops

1. Write a for loop to iterate all elements of the `month` list. Print each element for every iteration.

In [32]:
# put your answer here
for x in monthList:
  print(x)

January
February
March
April
May
June
July
August
September
October
November
December

2. Write a for loop and add a condition to only display the elements in the `month` list that ends with "ber"

In [33]:
# put your answer here
for x in monthList:
  if x.find("ber") > 0:
    print(x)

September
October
November
December

3. Write a for loop and add a condition to only display the elements in the `month` list that does not end with "ber"

In [36]:
# put your answer here
for x in monthList:
  print(x)
  if x == "ber":
    break

January
February
March
April
May
June
July
August
September
October
November
December


4. Write a for loop and use `range()` to display your firstname five times

In [56]:
# put your answer here
firstName = "Lorenzo"

for x in range(5):
  print(firstName)

Lorenzo
Lorenzo
Lorenzo
Lorenzo
Lorenzo

5. Write a for loop that iterates over the names list to create a usernames list.

To create a username for each name, make everything lowercase and replace spaces with underscores. Running your for loop over the list:

Example:

names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

should create a new list

usernames = ["joey_tribbiani", "monica_geller", "chandler_bing", "phoebe_buffay"]

In [ ]:
# put your answer here
nameList = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]
userName = []

for x in nameList:
  userName.append(x.lower().replace(" ","_"))
print(userName)

['joey_tribbiani', 'monica_geller', 'chandler_bing', 'phoebe_buffay']

6. Write a while loop to iterate throught the `month` list

- Break the loop if the element ends with "ber"

In [41]:
# put your answer here
index = 0

while index < len(monthList):
  if monthList[index].endswith("ber"):
    break
  print(monthList[index])
  index += 1

January
February
March
April
May
June
July
August

## Functions

1. Write a python function named population_density that takes two arguments, population and land_area, and returns a population density calculated from those values.

The population density can be calculated using this formula:

population_density = population/land_area

In [38]:
# put your answer here
population = int(input())
land_area = int(input())

def populationDensity(population, land_area):
  return population / land_area

currentDensity = populationDensity(population, land_area)
print(currentDensity)

100000
200
500.0

2. Write an `averagesteps()` function to compute the average the number of steps you take every day.

- The function should accept a list and compute the average of all elements inside the list

- Create a list with seven elements. The values in the list are your average steps your take everyday.

- Pass the list to the function and call the function

In [58]:
# put your answer here
def averageSteps(stepList):
  totalSteps = sum(steps for x, steps in stepsPerDay)
  average = totalSteps / len(stepsPerDay)
  return average

stepsPerDay = [["Monday", 5000], ["Teusday", 2000], ["Wednesday", 3500], ["Thursday", 4000], ["Friday", 4500], ["Saturday", 2100], ["Sunday", 4660]]

averageSteps = averageSteps(stepsPerDay)

print("Average steps per day:", averageSteps)

Average steps per day: 3680.0